<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fifteen.dao.PublishDao">
    <resultMap id="publishMap" type="com.fifteen.pojo.Publish">
        <id property="publish_content_id" column="publish_content_id"/>
        <result property="text" column="text"/>
        <result property="expression_id" column="expression_id"/>
        <result property="picture" column="picture"/>
        <result property="phone" column="phone"/>
        <result property="userId" column="userId"/>
        <result property="time" column="time"/>
    </resultMap>
    <resultMap id="userPublishMap" type="com.fifteen.pojo.Publish">
        <id property="publish_content_id" column="publish_content_id"/>
        <result property="text" column="text"/>
        <result property="expression_id" column="expression_id"/>
        <result property="picture" column="picture"/>
        <result property="phone" column="phone"/>
        <result property="userId" column="userId"/>
        <result property="time" column="time"/>
        <association property="user" javaType="com.fifteen.pojo.User">
            <id property="userId" column="userId"/>
            <result property="phone" column="phone"/>
            <result property="password" column="password"/>
            <result property="mailbox" column="mailbox"/>
            <result property="location" column="location"/>
            <result property="nickname" column="nickname"/>
            <result property="orientation" column="orientation"/>
            <result property="sex" column="sex"/>
            <result property="emotional_state" column="emotional_state"/>
            <result property="birthday" column="birthday"/>
            <result property="blood_type" column="blood_type"/>
            <result property="brieflntroduction" column="brieflntroduction"/>
            <result property="blog_address" column="blog_address"/>
            <result property="MSN" column="MSN"/>
            <result property="qq" column="qq"/>
            <result property="receiptlnformation" column="receiptlnformation"/>
            <result property="domain_name" column="domain_name"/>
            <result property="ID" column="ID"/>
            <result property="head" column="head"/>
        </association>
    </resultMap>
    <select id="findPublish" resultMap="userPublishMap">
        SELECT * FROM publish join user on publish.`userId`=user.`userId` order by time desc
    </select>
    <select id="findPublishDetails" resultMap="userPublishMap">
        select * from publish join user on publish.`userId`=user.`userId` where publish_content_id=#{publish_content_id}
    </select>
    <select id="findAllPublish" resultType="com.fifteen.pojo.Publish">
        select * from publish where userId=#{userId}
    </select>
</mapper>