<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fifteen.dao.UserDao">
    <resultMap id="UserMap" type="com.fifteen.pojo.User">
        <id property="userId" column="userId"/>
        <result property="phone" column="phone"/>
        <result property="password" column="password"/>
        <result property="mailbox" column="mailbox"/>
        <result property="registeredl_dentity" column="registeredl_dentity"/>
        <result property="location" column="location"/>
        <result property="nickname" column="nickname"/>
        <result property="orientation" column="orientation"/>
        <result property="sex" column="sex"/>
        <result property="emotional_state" column="emotional_state"/>
        <result property="birthday" column="birthday"/>
        <result property="blood_type" column="blood_type"/>
        <result property="brieflntroduction" column="brieflntroduction"/>
        <result property="blog_address" column="blog_address"/>
        <result property="MSN" column="MSN"/>
        <result property="qq" column="qq"/>
        <result property="receiptlnformation" column="receiptlnformation"/>
        <result property="domain_name" column="domain_name"/>
        <result property="how_to_find_me" column="how_to_find_me"/>
        <result property="ID" column="ID"/>
        <result property="member" column="member"/>
    </resultMap>
    <select id="login" resultType="com.fifteen.pojo.User">
        select * from  user where phone=#{phone} and password=#{password};
    </select>
    <insert id="add" parameterType="com.fifteen.pojo.User">
        INSERT into user
        <trim prefix="(" suffixOverrides="," suffix=")">
            userId,
            <if test="phone != null">phone,</if>
            <if test="password != null">password,</if>
            <if test="mailbox != null">mailbox,</if>
            <if test="registeredl_dentity!= null">registeredl_dentity,</if>
            <if test="location != null">location,</if>
            <if test="nickname != null">nickname,</if>
            <if test="orientation != null">orientation,</if>
            <if test="sex != null">sex,</if>
            <if test="emotional_state != null">emotional_state,</if>
            <if test="birthday != null">birthday,</if>
            <if test="blood_type != null">blood_type,</if>
            <if test="brieflntroduction != null">brieflntroduction,</if>
            <if test="blog_address != null">blog_address,</if>
            <if test="MSN != null">MSN,</if>
            <if test="qq != null">qq,</if>
            <if test="receiptlnformation != null">receiptlnformation,</if>
            <if test="domain_name != null">domain_name,</if>
            <if test="how_to_find_me != null">how_to_find_me,</if>
            <if test="ID != null">ID,</if>
            <if test="member != null">member,</if>
        </trim>
        VALUES
        <trim prefix="(" suffixOverrides="," suffix=")" >
            #{userId},
            <if test="phone != null">#{phone},</if>
            <if test="password != null">#{password},</if>
            <if test="mailbox != null">#{mailbox},</if>
            <if test="registeredl_dentity!= null">#{registeredl_dentity},</if>
            <if test="location != null">#{location},</if>
            <if test="nickname != null">#{nickname},</if>
            <if test="orientation != null">#{orientation},</if>
            <if test="sex != null">#{sex},</if>
            <if test="emotional_state != null">#{emotional_state},</if>
            <if test="birthday != null">now(),</if>
            <if test="blood_type != null">#{blood_type},</if>
            <if test="brieflntroduction != null">#{brieflntroduction},</if>
            <if test="blog_address != null">#{blog_address},</if>
            <if test="MSN != null">#{MSN},</if>
            <if test="qq != null">#{qq},</if>
            <if test="receiptlnformation != null">#{receiptlnformation},</if>
            <if test="domain_name != null">#{domain_name},</if>
            <if test="how_to_find_me != null">#{how_to_find_me},</if>
            <if test="ID != null">#{ID},</if>
            <if test="member != null">#{member},</if>
        </trim>
    </insert>
</mapper>